<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bb.bot.database.japaneseLearn.mapper.JapaneseFiftyMapper">
    
    <resultMap type="com.bb.bot.database.japaneseLearn.entity.JapaneseFifty" id="JapaneseFiftyResult">
        <result property="id"    column="id"    />
        <result property="hiragana"    column="hiragana"    />
        <result property="katakana"    column="katakana"    />
        <result property="phonetic"    column="phonetic"    />
        <result property="tips"    column="tips"    />
    </resultMap>

    <sql id="selectJapaneseFiftyVo">
        select id, hiragana, katakana, phonetic, tips from japanese_fifty
    </sql>
</mapper>