<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bb.bot.database.splatoon.mapper.SplatoonCoopWaveDetailMapper">
    
    <resultMap type="com.bb.bot.database.splatoon.entity.SplatoonCoopWaveDetail" id="SplatoonCoopWaveDetailResult">
        <result property="id"    column="id"    />
        <result property="coopId"    column="coop_id"    />
        <result property="waveNumber"    column="wave_number"    />
        <result property="waterLevel"    column="water_level"    />
        <result property="eventWave"    column="event_wave"    />
        <result property="deliverNorm"    column="deliver_norm"    />
        <result property="goldenPopCount"    column="golden_pop_count"    />
        <result property="teamDeliverCount"    column="team_deliver_count"    />
        <result property="specialWeaponIds"    column="special_weapon_ids"    />
        <result property="specialWeaponNames"    column="special_weapon_names"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSplatoonCoopWaveDetailVo">
        select id, coop_id, wave_number, water_level, event_wave, deliver_norm, golden_pop_count, team_deliver_count, special_weapon_ids, special_weapon_names, create_time from splatoon_coop_wave_detail
    </sql>
</mapper>